* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#accordion {
    width: 60%;
    margin: 2rem auto;
    padding: 2rem 5rem;
    border: 5px solid black;
}

.image {
    display: none;
    width: 25rem;
}

.el:hover > .image {
    display: block;
}

