* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#accordion {
    width: 60%;
    margin: 2rem auto;
    padding: 2rem 5rem;
    border: 5px solid black;
}

hr {
    color: rgb(243, 243, 243);
}

h2 {
    color: rgb(58, 58, 243);
}

.image {
    display: none;
    margin: 1rem auto;
    width: 25rem;
}

.before, .after {
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

input {
    display: none;
}

input:checked ~ .image {
    display: block;
}

input:checked + .flex .indicators .before{
    display: none;
}

input:checked + .flex .indicators .after{
    display: inline;
}

input:checked + .flex h2 {
    color: black;
}

/* HOVER OVER ACCORDION */

.indicators {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#accordion:hover h2{
    color: black;
}

#accordion:hover .indicators{
    display: inline;
}

/* HOVER OVER ROW */

.el:hover .image {
    display: block;
}

.after {
    display: none;
}

.el:hover .before {
    display: none;
} 

.el:hover .after {
    display: inline;
}