* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#accordion {
    width: 60%;
    margin: 2rem auto;
    padding: 2rem 5rem;
    border: 5px solid black;
}

.image {
    display: none;
    margin: 0 auto;
    width: 25rem;
}

.before, .after {
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* HOVER OVER ACCORDION */

.indicators {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#accordion:hover h2{
    color: blueviolet;
}

#accordion:hover .indicators{
    display: inline;
}

/* HOVER OVER ROW */

.el:hover > .image {
    display: block;
}

.after {
    display: none;
}

.el:hover .before {
    display: none;
} 

.el:hover .after {
    display: inline;
}